<!DOCTYPE html>
<html lang="fr" itemscope="itemscope" itemtype="http://schema.org/QAPage">
    <head>
        <!-- assign metadata --> 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Shorten-it</title>

        <link rel="stylesheet" href="/css/main.css">

        <!-- include scripts -->
        <script src="/js/lib/jquery.min.js" integrity="sha256-wPFJNIFlVY49B+CuAIrDr932XSb6Jk3J1M22M3E2ylQ=" crossorigin="use-credentials"></script>
        <script src="/js/lib/jquery.form.js" integrity="sha256-Ohb9gNZwCPHJR8+T67IOKvLtGmMX4ZTTXtFQRgdsQhE=" crossorigin="use-credentials"></script>
        <script src="/js/lib/jquery-qrcode.js" integrity="sha256-ni8oFdh07kZ0jiS5IWL8XBp0J867+Vk5S1hoSexwIuM=" crossorigin="use-credentials"></script>

        <!--[if lt IE 9]>
        <script src="/js/lib/html5shiv.js" integrity="sha256-GpuiLB1nBaB7moPdm+vUZBaP2fz2ioXG1H7hHKzi8Yk=" crossorigin="use-credentials"></script>
        <![endif]-->
    </head>
    <body>
        <div id="content">
            <div class="container">
                <div class="row">
                    <h1 class="page-header">{ Shorten-it } <span class="small">by Creased</span></h1>
                    <div class="col-l-12 col-m-12 col-s-12">
                        <form action="/" method="post" id="mainForm">
                            <fieldset>
                                <input id="long_url" type="url" placeholder="URL à réduire" name="url" required="required" value="http://" />
                                <input id="send" type="submit" value="Envoyer" />
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-l-12 col-m-12 col-s-12">
                        <div id="output">
                        	<div id="short_url_qr"></div><!--
                            --><input id="short_url" type="url" placeholder="URL à réduire" readonly="readonly" value="" />
                    	</div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/app.js" integrity="sha256-vYPQIIuI/kyDeuAoEHOVBzGwohuW+pE6a0uJKiE2EZw=" crossorigin="use-credentials"></script>
    </body>
</html>
