body {
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #3E3E3E;
    background-color: #F1F1F1;
}

a {
    color: #126E8E;
    text-decoration: none;
}

a:hover,
a:hover::after,
a:hover::before {
    color: #218EB4;
    text-decoration: none;
    -webkit-transition: all 100ms linear 0s;
       -moz-transition: all 100ms linear 0s;
        -ms-transition: all 100ms linear 0s;
         -o-transition: all 100ms linear 0s;
            transition: all 100ms linear 0s;
    -webkit-transition-property: color, background-color;
       -moz-transition-property: color, background-color;
        -ms-transition-property: color, background-color;
         -o-transition-property: color, background-color;
            transition-property: color, background-color;
}

h1 > .small {
    font-size: .55em;
    color: #386E81;

}

.container {
    padding: 0 15px 15px;
}

div#content > div.container > div.row form#mainForm {
    margin-bottom: 15px;
}

input[type="submit"],
input[type="text"],
input[type="url"],
textarea,
select {
    border: 1px solid #D8D8D8;
    padding: 6px 12px;
    font-size: 1em;
    font-weight: 400;
    vertical-align: middle;
    transition: all .3s ease;
    background-color: #F9F9F9;
}

input[type="submit"],
input[type="text"],
input[type="url"] {
    white-space: nowrap;
}

input[type="submit"] {
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
}

input[type="submit"]:hover {
    background-color: #F1F1F1;
}

#mainForm > fieldset,
#output {
    padding: 15px;
}

#mainForm > fieldset > *:not(:last-child) {
    margin-bottom: 15px;
}

table {
    margin: 15px 0;
    border-collapse: collapse;
}

table th {
    font-weight: bold;
}

table th,
table td {
    border: 1px solid #7E7E7E;
    padding: 6px 13px;
}

table tr {
    border-top: 1px solid #7E7E7E;
    background-color: #F1F1F1;
}

table tr:nth-child(2n) {
    background-color: #D8D8D8;
}

